.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}
#comment{
    margin-top:10px;
    width: 300px;
    height: 25px;
}
#addc{
    height: 30px;

}